@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  
  /* Primary Brand Overrides (#153E3B Base) */
  --color-blue-50: #eff7f6;
  --color-blue-100: #d6edea;
  --color-blue-200: #b0ddda;
  --color-blue-300: #7ec5c1;
  --color-blue-400: #51a7a2;
  --color-blue-500: #378b86;
  --color-blue-600: #2a6e6a;
  --color-blue-700: #235956;
  --color-blue-800: #1e4845;
  --color-blue-900: #153e3b; /* Official Brand Color */
  --color-blue-950: #0d2826;
}

@layer base {
  body {
    background-color: #f8fafc; /* slate-50 */
    color: #1e293b; /* slate-800 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
